*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to bottom,#070b24,#0b1438,#1a245f);
    color:white;
    overflow-x:hidden;
}

.hero{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
    padding:30px;
    position:relative;
}

.hero h1{
    font-size:52px;
    color:#ffd6f6;
    text-shadow:0 0 15px #ff77c8;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    color:#ffffff;
    max-width:700px;
    line-height:1.8;
}

.btn{
    margin-top:35px;
    padding:15px 35px;
    border:none;
    border-radius:50px;
    background:#ff5eb7;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
    box-shadow:0 0 25px rgba(255,94,183,.6);
}

.btn:hover{
    transform:scale(1.08);
    background:#ff7dc7;
}

.stars{
    position:fixed;
    inset:0;
    background-image:
    radial-gradient(white 1px,transparent 1px),
    radial-gradient(#ffd3f7 1px,transparent 1px),
    radial-gradient(#fff 2px,transparent 2px);
    background-size:140px 140px,220px 220px,300px 300px;
    animation:moveStars 90s linear infinite;
    opacity:.7;
    z-index:-2;
}

@keyframes moveStars{
from{
background-position:0 0,0 0,0 0;
}
to{
background-position:0 1200px,0 800px,0 1500px;
}
}
